<div class="row">
	
	<div class="col-sm-8">
		
		<div class="form-group">
			<textarea placeholder="Please enter Javascript source code..." class="form-control" onkeydown="processSourceCodeInput(event, this);" ng-model="fuseBaseClient.scripts.current.source" rows="11" style="resize: none; margin-bottom: 5px; height: 250px;"></textarea>
			<div class="form-inline">
				<button class="btn btn-default" ng-click="fuseBaseClient.scripts.runAnonymous(fuseBaseClient.scripts.current);" style="margin-right: 5px;">Run</button>
				<button class="btn btn-default" ng-click="fuseBaseClient.scripts.current = {};">Clear</button>
				<button class="btn btn-default pull-right" data-toggle="modal" data-target="#registerScriptModal" ng-click="fuseBaseClient.scripts.new = angular.copy(fuseBaseClient.scripts.current);">Register...</button>
			</div>
		</div>
		
	</div>
	
	<div class="col-sm-4">
		<div class="panel panel-default">
			<div class="panel-heading">Registered Scripts</div>
			<div class="panel-body" style="height: 247px; overflow-y: auto;">
				<span>{{ (fuseBaseClient.scripts.data.length == 0 ? 'No registered scripts.' : '') }}</span>
				<table class="table" ng-hide="(fuseBaseClient.scripts.data.length == 0)">
					<thead>
						<tr>
							<th>Name</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="s in fuseBaseClient.scripts.data">
							<td>{{ s.name }}</td>
							<td>
								<button ng-click="fuseBaseClient.scripts.run(s);">Run</button>
								<button data-toggle="modal" data-target="#editScriptModal" ng-click="fuseBaseClient.scripts.getSource(s); fuseBaseClient.scripts.edited = s;">Edit...</button>
								<button ng-click="fuseBaseClient.scripts.delete(s);">Delete</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
	</div>
	
</div>

<div class="row">
	
	<div class="col-sm-8">
		<div class="panel panel-default">
			<div class="panel-body">
				{{ fuseBaseClient.scripts.scriptOutput }}
			</div>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				Scheduled Jobs
				<button ng-click="fuseBaseClient.scheduler.newJob = {};" data-toggle="modal" data-target="#registerScheduledJobModal">New...</button>
				<button ng-click="fuseBaseClient.scheduler.list();">Refresh below list</button>
			</div>
			<div class="panel-body" style="height: 247px; overflow-y: auto;">
				<span>{{ (fuseBaseClient.scheduler.data.length == 0 ? 'No scheduled jobs.' : '') }}</span>
				<table class="table" ng-hide="(fuseBaseClient.scheduler.data.length == 0)">
					<thead>
						<tr>
							<th>Name</th>
							<th>Runs</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="sj in fuseBaseClient.scheduler.data">
							<td>{{ sj.name }}</td>
							<td>{{ sj.executionCount }}</td>
							<td>
								<button ng-click="fuseBaseClient.scheduler.start(sj);" ng-disabled="sj.isScheduled;">Start</button>
								<button ng-click="fuseBaseClient.scheduler.delete(sj);">Delete</button>
								<button ng-click="fuseBaseClient.scheduler.viewLogs(sj);" data-toggle="modal" data-target="#viewLogsModal">Logs...</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
	</div>
	
</div>

<div id="registerScriptModal" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Register Script</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label for="text">Name</label>
					<input type="text" class="form-control" ng-model="fuseBaseClient.scripts.new.name">
					<label for="text">Source</label>
					<textarea placeholder="Please enter Javascript source code..." class="form-control" style="resize: none;" rows="7" ng-model="fuseBaseClient.scripts.new.source"></textarea>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" ng-click="fuseBaseClient.scripts.save(fuseBaseClient.scripts.new);">Register</button>
			</div>
		</div>
	</div>
</div>

<div id="editScriptModal" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Edit Script <b>{{ fuseBaseClient.scripts.edited.name }}</b></h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label for="text">Source</label>
					<textarea placeholder="Please enter Javascript source code..." class="form-control" style="resize: none;" rows="7" ng-model="fuseBaseClient.scripts.edited.source"></textarea>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" ng-click="fuseBaseClient.scripts.save(fuseBaseClient.scripts.edited);">Register</button>
			</div>
		</div>
	</div>
</div>

<div id="registerScheduledJobModal" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Register Scheduled Job</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label for="text">Name</label>
					<input type="text" class="form-control" ng-model="fuseBaseClient.scheduler.newJob.name">
					<label for="text">Script</label>
					<select class="form-control"
							ng-model="fuseBaseClient.scheduler.newJob.scriptName"
							ng-options="s.name as s.name for s in fuseBaseClient.scripts.data">
						<option value="" selected disabled>
							{{ "Please select a script..." }}
						</option>
					</select>
					<label for="text">Job time interval unit</label>
					<select class="form-control"
							ng-model="fuseBaseClient.scheduler.newJob.timeUnit"
							ng-options="tu as tu for tu in fuseBaseClient.scheduler.timeUnits">
						<option value="" selected disabled>
							{{ "Please select time unit..." }}
						</option>
					</select>
					<label for="text">Initial time interval delay before first job execution</label>
					<input type="text" class="form-control" ng-model="fuseBaseClient.scheduler.newJob.initialDelay">
					<label for="text">Time interval between successive job executions</label>
					<input type="text" class="form-control" ng-model="fuseBaseClient.scheduler.newJob.period">
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary"
					ng-click="fuseBaseClient.scheduler.saveJob(fuseBaseClient.scheduler.newJob);"
					ng-disabled="fuseBaseClient.scheduler.isJobInvalid(fuseBaseClient.scheduler.newJob);">Register</button>
			</div>
		</div>
	</div>
</div>

<div id="viewLogsModal" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Logs for scheduled job <b>{{ fuseBaseClient.scheduler.currentJob.name }}</b></h4>
			</div>
			<div class="modal-body">
				
				<div class="panel panel-default">
					<div class="panel-body" style="height: 247px; overflow-y: auto;">
						<table class="table">
							<tbody>
								<tr ng-repeat="logEntry in fuseBaseClient.scheduler.currentJob.logEntries">
									<td><a href="javascript:void(null)" ng-click="fuseBaseClient.scheduler.getLogFile(fuseBaseClient.scheduler.currentJob, logEntry);">{{ logEntry.fileName }}</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				
				<div class="panel panel-default">
					<div class="panel-body">
						{{ fuseBaseClient.scheduler.logFileContents }}
					</div>
				</div>
				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
