<div class="row">
	<div class="col-sm-12">
		<div>
			<h4 style="float: left">Users</h4>&nbsp;
			<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#newUserModal" ng-click="fuseBaseClient.users.newUser();">New User...</button>
		</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Username</th>
					<th>Roles</th>
					<th>Privileges</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="u in fuseBaseClient.users.data">
					<td>{{ u.username }}</td>
					<td><span ng-repeat="role in u.roles">{{ role }}<br></span></td>
					<td><span ng-repeat="privilege in u.privileges">{{ privilege }}<br></span></td>
					<td>
						<button ng-click="fuseBaseClient.users.editRolesAndPrivileges(u);" data-target="#userRolesAndPrivilegesModal" data-toggle="modal" ng-disabled="{{ u.unchangeable  }}">Roles &amp; Privileges...</button>
						<button ng-click="fuseBaseClient.users.setCurrent(u); fuseBaseClient.users.getClientKeys(u);" data-target="#editUserClientKeysModal" data-toggle="modal">Client Keys...</button>
						<button ng-click="fuseBaseClient.users.editPassword(u);" data-target="#userPasswordModal" data-toggle="modal">Change Password...</button>
						<button ng-click="fuseBaseClient.users.delete(u);" ng-disabled="{{ u.undeleteable  }}">Delete</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div>
			<h4 style="float: left">Roles</h4>&nbsp;
			<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#newRoleModal" ng-click="fuseBaseClient.roles.newRole();">New Role...</button>
		</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Role</th>
					<th>Type</th>
					<th>Privileges</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="r in fuseBaseClient.roles.data">
					<td>{{ r.name }}</td>
					<td>{{ r.roleType }}</td>
					<td><span ng-repeat="privilege in r.privileges">{{ privilege }}<br></span></td>
					<td>
						<button ng-click="fuseBaseClient.roles.editPrivileges(r);" data-target="#updateRolePrivilegesModal" data-toggle="modal" ng-disabled="{{ r.unchangeable  }}">Privileges...</button>
						<button ng-click="fuseBaseClient.roles.delete(r);" ng-disabled="{{ r.undeleteable  }}">Delete</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div id="userRolesAndPrivilegesModal" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Roles &amp; Privileges for <b>{{ fuseBaseClient.users.current.username }}</b></h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<div class="row">
						<div class="col-sm-6">
							<div class="panel panel-default">
								<div class="panel-heading"><label for="checkbox">Roles</label></div>
								<div class="panel-body" style="height: 150px; overflow-y: auto;">
									<div class="checkbox" ng-repeat="r in fuseBaseClient.roles.data">
									  <label><input type="checkbox" ng-model="fuseBaseClient.users.current.addedRoles[r.name]" value="{{ r.name }}">{{ r.name }}</label>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="panel panel-default">
								<div class="panel-heading"><label for="checkbox">Privileges</label></div>
								<div class="panel-body" style="height: 150px; overflow-y: auto;">
									<div class="checkbox" ng-repeat="privilege in fuseBaseClient.users.privileges">
									  <label><input type="checkbox" ng-model="fuseBaseClient.users.current.addedPrivileges[privilege]" value="{{ privilege }}">{{ privilege }}</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" ng-click="fuseBaseClient.users.updateUserPriviligesAndRoles(fuseBaseClient.users.current);">Save</button>
			</div>
		</div>
	</div>
</div>

<div id="userPasswordModal" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Change Password for <b>{{ fuseBaseClient.users.current.username }}</b></h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label for="text">Old Password</label>
					<input type="password" class="form-control" ng-model="fuseBaseClient.users.current.old_password">
					<label for="text">Repeat Old Password</label>
					<div class="form-group {{ (fuseBaseClient.users.current.old_password.length > 0 ? 'has-feedback' + (fuseBaseClient.users.passwordsMatch() ? ' has-success' : ' has-error') : '')}}">
						<input type="password" class="form-control" ng-model="fuseBaseClient.users.current.old_password_repeated" aria-describedby="passwordMatchStatus">
						<span class="glyphicon glyphicon-{{ (fuseBaseClient.users.passwordsMatch() ? 'ok' : 'remove') }} form-control-feedback" aria-hidden="true" style="display: {{ (fuseBaseClient.users.current.old_password.length > 0 ? 'block' : 'none') }}"></span>
						<span id="passwordMatchStatus" class="sr-only"></span>
					</div>
					<label for="text">New Password</label>
					<input type="password" class="form-control" ng-model="fuseBaseClient.users.current.new_password">
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" ng-disabled="fuseBaseClient.users.changePasswordInputIsInvalid()" ng-click="fuseBaseClient.users.changePasswordForCurrent();">Change Password</button>
			</div>
		</div>
	</div>
</div>

<div id="newUserModal" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">New User</b></h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label for="text">Username</label>
					<input type="text" class="form-control" ng-model="fuseBaseClient.users.new.username">
					<div class="form-group">
						<label for="text">Password</label>
						<input type="password" class="form-control" ng-model="fuseBaseClient.users.new.password">
						<label for="text">Repeat Password</label>
						<div class="form-group {{ (fuseBaseClient.users.new.password.length > 0 ? 'has-feedback' + (fuseBaseClient.users.passwordsMatchForNewUser() ? ' has-success' : ' has-error') : '')}}">
							<input type="password" class="form-control" ng-model="fuseBaseClient.users.new.password_repeated" aria-describedby="passwordForNewUserMatchStatus">
							<span class="glyphicon glyphicon-{{ (fuseBaseClient.users.passwordsMatchForNewUser() ? 'ok' : 'remove') }} form-control-feedback" aria-hidden="true" style="display: {{ (fuseBaseClient.users.new.password.length > 0 ? 'block' : 'none') }}"></span>
							<span id="passwordForNewUserMatchStatus" class="sr-only"></span>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="panel panel-default">
								<div class="panel-heading"><label for="checkbox">Roles</label></div>
								<div class="panel-body" style="height: 150px; overflow-y: auto;">
									<div class="checkbox" ng-repeat="r in fuseBaseClient.roles.data">
									  <label><input type="checkbox" ng-model="fuseBaseClient.users.new.addedRoles[r.name]" value="{{ r.name }}">{{ r.name }}</label>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="panel panel-default">
								<div class="panel-heading"><label for="checkbox">Privileges</label></div>
								<div class="panel-body" style="height: 150px; overflow-y: auto;">
									<div class="checkbox" ng-repeat="privilege in fuseBaseClient.users.privileges">
									  <label><input type="checkbox" ng-model="fuseBaseClient.users.new.addedPrivileges[privilege]" value="{{ privilege }}">{{ privilege }}</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" ng-disabled="fuseBaseClient.users.userIsInvalid(fuseBaseClient.users.new)" ng-click="fuseBaseClient.users.saveNewUser(fuseBaseClient.users.new);">Add User</button>
			</div>
		</div>
	</div>
</div>

<div id="newRoleModal" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">New Role</b></h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label for="text">Name</label>
					<input type="text" class="form-control" ng-model="fuseBaseClient.roles.new.name">
					<div class="row" style="margin-top: 10px;">
						<div class="col-sm-6">
							<label for="text">Type</label>
							<select class="form-control"
									ng-model="fuseBaseClient.roles.new.roleType"
									ng-options="roleType as roleType for roleType in fuseBaseClient.roles.roleTypes">
								<option value="" selected disabled>
									Please select a role type...
								</option>
							</select>
						</div>
						<div class="col-sm-6">
							<div class="panel panel-default">
								<div class="panel-heading"><label for="checkbox">Privileges</label></div>
								<div class="panel-body" style="height: 150px; overflow-y: auto;">
									<div class="checkbox" ng-repeat="privilege in fuseBaseClient.users.privileges">
									  <label><input type="checkbox" ng-model="fuseBaseClient.roles.new.addedPrivileges[privilege]" value="{{ privilege }}">{{ privilege }}</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" ng-disabled="!fuseBaseClient.roles.validRole(fuseBaseClient.roles.new);" ng-click="fuseBaseClient.roles.saveRole(fuseBaseClient.roles.new);">Add Role</button>
			</div>
		</div>
	</div>
</div>

<div id="updateRolePrivilegesModal" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Update privileges for role <b>{{ fuseBaseClient.roles.current.name }}</b></h4>
			</div>
			<div class="modal-body">
				<div class="form-group">

					<div class="panel panel-default">
						<div class="panel-heading"><label for="checkbox">Privileges</label></div>
						<div class="panel-body" style="height: 150px; overflow-y: auto;">
							<div class="checkbox" ng-repeat="privilege in fuseBaseClient.users.privileges">
							  <label><input type="checkbox" ng-model="fuseBaseClient.roles.current.addedPrivileges[privilege]" value="{{ privilege }}">{{ privilege }}</label>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" ng-click="fuseBaseClient.roles.updateRolePrivileges(fuseBaseClient.roles.current);">Update Role</button>
			</div>
		</div>
	</div>
</div>

<div id="editUserClientKeysModal" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Edit client keys for <b>{{ fuseBaseClient.users.current.username }}</b></h4>
			</div>
			<div class="modal-body">

				<div>
					<button ng-click="fuseBaseClient.users.generateClientKey(fuseBaseClient.users.current);">Generate client key</button>
					<button ng-click="fuseBaseClient.users.deleteAllClientKeys(fuseBaseClient.users.current);" style="{{ (fuseBaseClient.users.current.clientKeys.length == 0 ? 'display: none;' : ''); }}">Delete all client keys...</button>
				</div>

				<div style="{{ (fuseBaseClient.users.current.clientKeys.length > 0 ? 'display: none;' : ''); }}">
					No registered client keys for user.
				</div>

				<table class="table table-striped" style="{{ (fuseBaseClient.users.current.clientKeys.length == 0 ? 'display: none;' : ''); }}">
					<thead>
						<tr>
							<th>Client Key</th>
							<th>Authentication Link</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody><!-- fuseBaseClient.users.getClientKeyAuthenticationLink(ck) -->
						<tr ng-repeat="ck in fuseBaseClient.users.current.clientKeys">
							<td>{{ ck }}</td>
							<td>{{ fuseBaseClient.currentURL() + '/api/clientkey/authenticate?clientKey=' + ck + '&outputType=JSON' }}</td>
							<td>
								<button ng-click="fuseBaseClient.users.deleteClientKey(fuseBaseClient.users.current, ck);">Delete...</button>
							</td>
						</tr>
					</tbody>
				</table>

				<div id="clientKeyAuthenticationLink"></div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>