#drop_zone {
	border: 2px dashed #bbb;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 25px;
	text-align: center;
	font: 20pt bold 'Vollkorn';
	color: #bbb;
}

body, textarea, input, select, table, form, pre {
	font-family: Verdana, Sans-serif;
	font-size: x-small;
}

.nobreak {
	white-space: nowrap;
}

.menu {
	background-color: #EDEDED;
	-webkit-box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.66);
	-moz-box-shadow:    4px 4px 3px rgba(0, 0, 0, 0.66);
	box-shadow:         4px 4px 3px rgba(0, 0, 0, 0.66);
	position: absolute;
	z-index: 12000;
}

.input_text {
	padding-left: 1px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	font-family: helvetica, arial, sans serif;
	padding-left: 1px;
	font-family: monospace;
	font-size: x-small;
}

.directory_dir {
	font-family: Verdana, Sans-serif;
	font-size: x-small;
}

.directory_file {
	color: DimGray;
	font-family: Verdana, Sans-serif;
	font-size: x-small;
	text-decoration: none;
}

.directory_listing {
	border: 1px solid;
	width: 90%;
	height: 90%;
	overflow: auto;
	padding: 3px;
}

.fusebase_table_link {
	color: DimGray;
	font-family: Verdana, Sans-serif;
	font-size: x-small;
	text-decoration: none;
}

#header {
    background: -moz-linear-gradient(center top , #4d80af 0px, #2b5593 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    width: 100%;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 2px;
	
	background-color: #3c6aa1;
	background: -webkit-gradient(linear,100% 50%,0% 50%,color-stop(0%,#4d80af),color-stop(100%,#2b5593));
	background: -webkit-linear-gradient(top,#4d80af 0,#2b5593 100%);
	background: -moz-linear-gradient(top,#4d80af 0,#2b5593 100%);
	background: -o-linear-gradient(top,#4d80af 0,#2b5593 100%);
	background: linear-gradient(top,#4d80af 0,#2b5593 100%);
	background: -ms-linear-gradient(top,#4d80af 0,#2b5593 100%);
}

#leftcolumn {
    float: left;
    width: 10%;
    height: 700px;
	padding-top: 3px;
}

#content {
    float: left;
    width: 90%;
    height: 800px;
	padding-top: 3px;
}

#footer {
    clear: both;
    width: 100%;
}

.dialog {
	background-color: white;
	border: 1px solid;
	border-radius: 5px;
	padding: 3px;
}

.dialogHeader {
    background-color: lightGray;
    width: 100%;
	padding-top: 2px;
	padding-bottom: 2px;
	height: 12px;
}

.dialogContent {
	background-color: white;
    float: top;
    width: 100%;
	padding-top: 3px;
}

.dialogFooter {
	background-color: white;
    float: bottom;
    width: 100%;
	height: 12px;
	padding-top: 3px;
}

#fuseBaseQueryInput {
	width: 100%;
	height: 200px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid gray;
	padding: 3px;
	resize: none;
	background-color: white;
}

#queryButton {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.iFrame {
	border: none;
	width: 100%;
}

.circle {
	border: 1px solid gray;
	border-radius: 50%;
	width: 20px;
	height: 20px; 
	background-color: lightgray;
	font-family: Verdana, Sans-serif;
	font-size: smaller;
	text-align: center;
	vertical-align: middle;
	line-height: 18px;
	padding: 1px;
	display: inline-block;
}